{
  "$schema": "https://json.schemastore.org/swcrc",
  "jsc": {
    "target": "es2022",
    "parser": {
      "syntax": "typescript",
      "decorators": true
    },
    "transform": {
      "legacyDecorator": true,
      "decoratorMetadata": true
    },
    "keepClassNames": true
  },
  "module": {
    "type": "es6",
    "strict": true
  },
  "sourceMaps": false,
  "exclude": ["node_modules", "dist", "frontend", "scripts", "redis"]
}
